*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    --start:hsl(190,100%,70%);
    --end:hsl(310,100%,90%);
    background: linear-gradient(45deg,var(--start),var(--end));
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock{
    font-size:130px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    color: white;
    width:1000px;
    height:300px;
    line-height: 200px;
}